# MacOS / Windows
*.DS_Store


### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


### Driver ###
Time-Card/DRV/*.cmd
Time-Card/DRV/*.o
Time-Card/DRV/*.mod
Time-Card/DRV/*.ko
Time-Card/DRV/*.mod.c
Time-Card/DRV/*.order
Time-Card/DRV/*.symvers
*.pyc
